<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="styleframe">
		<object class="wxFlexGridSizer" variable="fgs" member="no">
			<cols>5</cols>
			<growablecols>2</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxListCtrl" name="ID_LISTCTRL1" variable="ListCtrl1" member="yes">
					<style>wxSUNKEN_BORDER</style>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxListCtrl" name="ID_LISTCTRL2" variable="ListCtrl2" member="yes">
					<style>wxSUNKEN_BORDER</style>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxGLCanvas" name="ID_GLCANVAS1" variable="GLCanvas1" member="yes">
					<mDepthSize>16</mDepthSize>
					<minsize>300,300</minsize>
					<style>wxSUNKEN_BORDER</style>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTreeListCtrl" name="ID_TREELISTCTRL1" variable="TreeListCtrl1" member="yes">
					<colcount>5</colcount>
					<coltitles>
						<item>!Define Column Titles</item>
						<item>!Text lines that begin with &quot;!&quot; are ignored, but blank</item>
						<item>!lines are significant (a blank line is a blank title for</item>
						<item>!a column).</item>
						<item>First</item>
						<item>Second</item>
						<item>Third</item>
						<item>Fourth</item>
						<item>Fifth</item>
					</coltitles>
					<treedata>
						<node>! Define node data for a wxTreeCtrl.</node>
						<node>! Note that all lines that start with a &quot;!&quot; are comment lines and ignored.</node>
						<node>! Also, all empty lines are ignored (a line of spaces is not an empty line).</node>
						<node>!</node>
						<node>! The node data is organized similar to a Tabbed Hierarchical Values (THV) file,</node>
						<node>! such that each line of text represents one label for a single tree node.</node>
						<node>! The number of leading TAB characters indicate the indentation level of the</node>
						<node>! tree node.</node>
						<node>!</node>
						<node>! Space (or blank) characters are not used the same as TAB characters; if your</node>
						<node>! editor substitutes spaces for TABs, use the &quot;TAB Char&quot; attribute to change</node>
						<node>! the character used to indicate the tree node level.</node>
						<node>!</node>
						<node>! Following is a sample tree data definition:</node>
						<node></node>
						<node>First level, no tabs&#x09;Second Column&#x09;Third Column&#x09;Fourth Column&#x09;Fifth Column</node>
						<node>&#x09;Second level, 1 tab&#x09;Second Column&#x09;Third Column&#x09;Fourth Column&#x09;Fifth Column</node>
						<node>&#x09;&#x09;Third level, 2 tabs&#x09;Second Column&#x09;Third Column&#x09;Fourth Column&#x09;Fifth Column</node>
						<node>First level again, no tabs&#x09;Second Column&#x09;Third Column&#x09;Fourth Column&#x09;Fifth Column</node>
						<node>&#x09;Second level again, 1 tab&#x09;Second Column&#x09;Third Column&#x09;Fourth Column&#x09;Fifth Column</node>
						<node>&#x09;Another second level, 1 tab&#x09;Second Column&#x09;Third Column&#x09;Fourth Column&#x09;Fifth Column</node>
						<node>&#x09;&#x09;Third level again, 2 tabs&#x09;Second Column&#x09;Third Column&#x09;Fourth Column&#x09;Fifth Column</node>
						<node></node>
					</treedata>
					<minsize>150,100</minsize>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
					<cols>3</cols>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
